<h1 class="text-primary">BigExcelCreator</h1>

<ng-container *transloco="let t">
  <p [innerHTML]="t('projects.BigExcelCreator.start.p1')"></p>
  <p [innerHTML]="t('projects.BigExcelCreator.start.p2')"></p>
  <p [innerHTML]="t('projects.BigExcelCreator.start.p3')"></p>

  <p-panel [header]="t('Note')">
    <p [innerHTML]="t('projects.BigExcelCreator.start.note.p1')"></p>
    <p [innerHTML]="t('projects.BigExcelCreator.start.note.p2',{'lastVersion2':last2versionLink})"></p>
    <p [innerHTML]="t('projects.BigExcelCreator.start.note.p3')"></p>
  </p-panel>

</ng-container>
