<h1 class="text-primary">BigExcelCreator</h1>

<div class="flex flex-wrap flex-row gap-1 justify-content-center">
  <a class="flex align-items-center justify-content-center" href="https://www.nuget.org/packages/BigExcelCreator"
    rel="noopener noreferrer"><img src="https://img.shields.io/nuget/v/BigExcelCreator" alt="Nuget"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://dev.azure.com/fenase/BigExcelCreator/_build/latest?definitionId=18&amp;branchName=main"
    rel="noopener noreferrer"><img
      src="https://dev.azure.com/fenase/BigExcelCreator/_apis/build/status%2FBigExcelCreator-CI?branchName=main"
      alt="Build Status"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://sonarcloud.io/summary/overall?id=fenase_BigExcelCreator" rel="noopener noreferrer"><img
      src="https://sonarcloud.io/api/project_badges/measure?project=fenase_BigExcelCreator&amp;metric=alert_status" c
      alt="Quality Gate Status"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://sonarcloud.io/summary/overall?id=fenase_BigExcelCreator" rel="noopener noreferrer"><img
      src="https://sonarcloud.io/api/project_badges/measure?project=fenase_BigExcelCreator&amp;metric=ncloc"
      alt="Lines of Code"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://sonarcloud.io/summary/overall?id=fenase_BigExcelCreator" rel="noopener noreferrer"><img
      src="https://sonarcloud.io/api/project_badges/measure?project=fenase_BigExcelCreator&amp;metric=coverage" c
      alt="Coverage"></a>
</div>

<ng-container *transloco="let t">
  <p [innerHTML]="t('projects.BigExcelCreator.start.p1')"></p>
  <p [innerHTML]="t('projects.BigExcelCreator.start.p2')"></p>
  <p [innerHTML]="t('projects.BigExcelCreator.start.p3')"></p>

  <p-panel [header]="t('Note')">
    <p [innerHTML]="t('projects.BigExcelCreator.start.note.p1')"></p>
    <p [innerHTML]="t('projects.BigExcelCreator.start.note.p2',{'lastVersion2':last2versionLink})"></p>
    <p [innerHTML]="t('projects.BigExcelCreator.start.note.p3')"></p>
  </p-panel>

</ng-container>
