<h1 class="text-primary">{{ 'projects.BigExcelCreator.Styling and formatting' | transloco }}</h1>



<h2 class="text-primary" [attr.id]="'columnFormatting'">
  {{ 'projects.BigExcelCreator.Column formatting' | transloco }}
</h2>

<ng-container *transloco="let t; prefix: 'projects.BigExcelCreator.styling'">

  <p [innerHTML]="t('ColumnFormatting.basic')"></p>
  <p [innerHTML]="t('ColumnFormatting.width')"></p>
  <p [innerHTML]="t('ColumnFormatting.CustomWidth')"></p>
  <p [innerHTML]="t('ColumnFormatting.Hidden')"></p>

  <app-code-example examplePath="projects/BigExcelCreator/columnFormatting" language="cs"></app-code-example>

</ng-container>


<h2 class="text-primary" [attr.id]="'hideSheet'">{{ 'projects.BigExcelCreator.Hide Sheet' | transloco }}</h2>

<ng-container *transloco="let t; prefix: 'projects.BigExcelCreator.styling'">

  <p [innerHTML]="t('HideSheet.basic')"></p>
  <ul>
    <li [innerHTML]="t('HideSheet.Visible')"></li>
    <li [innerHTML]="t('HideSheet.Hidden')"></li>
    <li [innerHTML]="t('HideSheet.VeryHidden')"></li>
  </ul>


</ng-container>


<h2 class="text-primary" [attr.id]="'mergeCells'">{{ 'projects.BigExcelCreator.Merge Cells' | transloco }}</h2>

<ng-container *transloco="let t; prefix: 'projects.BigExcelCreator.styling'">

  <p [innerHTML]="t('MergeCells.basic')"></p>


  <app-code-example examplePath="projects/BigExcelCreator/mergeCells" language="cs"></app-code-example>

</ng-container>


<h2 class="text-primary" [attr.id]="'styling'">{{ 'projects.BigExcelCreator.Styling' | transloco }}</h2>

<ng-container *transloco="let t; prefix: 'projects.BigExcelCreator.styling'">

  <p [innerHTML]="t('Styling.basic')"></p>
  <app-code-example examplePath="projects/BigExcelCreator/stylingDefine" language="cs"></app-code-example>

  <p [innerHTML]="t('Styling.insert')"></p>
  <app-code-example examplePath="projects/BigExcelCreator/stylingInsert" language="cs"></app-code-example>

  <p [innerHTML]="t('Styling.useName')"></p>
  <app-code-example examplePath="projects/BigExcelCreator/stylingUseName" language="cs"></app-code-example>

  <p-panel [showHeader]="false">
    <p [innerHTML]="t('Styling.note.p1',{'aHrefLink':'#conditionalFormatting'})"></p>
    <p [innerHTML]="t('Styling.note.p2')"></p>

    <app-code-example examplePath="projects/BigExcelCreator/stylingDifferential" language="cs"></app-code-example>
  </p-panel>

</ng-container>


<h2 class="text-primary" [attr.id]="'comments'">{{ 'projects.BigExcelCreator.Comments' | transloco }}</h2>

<ng-container *transloco="let t; prefix: 'projects.BigExcelCreator.styling'">

  <p [innerHTML]="t('Comments.basic')"></p>

  <app-code-example examplePath="projects/BigExcelCreator/comment" language="cs"></app-code-example>

</ng-container>


<h2 class="text-primary" [attr.id]="'autofilter'">{{ 'projects.BigExcelCreator.Autofilter' | transloco }}</h2>

<ng-container *transloco="let t; prefix: 'projects.BigExcelCreator.styling'">

  <p [innerHTML]="t('Autofilter.basic')"></p>

  <app-code-example examplePath="projects/BigExcelCreator/autofilter" language="cs"></app-code-example>

</ng-container>


<h2 class="text-primary" [attr.id]="'conditionalFormatting'">
  {{ 'projects.BigExcelCreator.Conditional Formatting' | transloco }}
</h2>

<ng-container *transloco="let t; prefix: 'projects.BigExcelCreator.styling'">

  <p [innerHTML]="t('Conditional Formatting.basic',{'aHrefLink':'#styling'})"></p>

  <p-panel [showHeader]="false">
    <p [innerHTML]="t('Conditional Formatting.note.On every case below')"></p>
    <ul>
      <li [innerHTML]="t('Conditional Formatting.note.Reference')"></li>
      <li [innerHTML]="t('Conditional Formatting.note.Format')"></li>
    </ul>
  </p-panel>


  <h3 class="text-primary">{{ t('Conditional Formatting.Formula.title') }}</h3>

  <p [innerHTML]="t('Conditional Formatting.Formula.basic',{'aHrefLink':'#styling'})"></p>
  <ul>
    <li [innerHTML]="t('Conditional Formatting.Formula.formula')"></li>
  </ul>

  <app-code-example examplePath="projects/BigExcelCreator/conditionalFormattingFormula"
    language="cs"></app-code-example>


  <h3 class="text-primary">{{ t('Conditional Formatting.Cell Is.title') }}</h3>

  <p [innerHTML]="t('Conditional Formatting.Cell Is.basic')"></p>
  <ul>
    <li [innerHTML]="t('Conditional Formatting.Cell Is.Operator')"></li>
    <li [innerHTML]="t('Conditional Formatting.Cell Is.value')"></li>
    <li [innerHTML]="t('Conditional Formatting.Cell Is.value2')"></li>
  </ul>

  <app-code-example examplePath="projects/BigExcelCreator/conditionalFormattingCellIs" language="cs"></app-code-example>



  <h3 class="text-primary">{{ t('Conditional Formatting.Duplicated Values.title') }}</h3>

  <p [innerHTML]="t('Conditional Formatting.Duplicated Values.basic')"></p>

  <app-code-example examplePath="projects/BigExcelCreator/conditionalFormattingDuplicatedValues"
    language="cs"></app-code-example>



</ng-container>
