<h1 class="text-primary">{{'projects.SnowflakeIDGenerator.Parsing an Id'|transloco}}</h1>

<ng-container *transloco="let t; prefix: 'projects.SnowflakeIDGenerator.parse'">

  <p [innerHTML]="t('Parse a Snowflake')"></p>
  <p [innerHTML]="t('If a custom epoch')"></p>

  <app-code-example examplePath="projects/SnowflakeIDGenerator/parse" language="cs"></app-code-example>

  <p [innerHTML]="t('starting on version 1.2.2023')"></p>

  <app-code-example examplePath="projects/SnowflakeIDGenerator/parseCast" language="cs"></app-code-example>

</ng-container>
