<!-- <div class="card"> -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2 px-2">
      <p-avatar image="https://gravatar.com/avatar/2178dbbef9d31aaac42ec8ede84ad0aa1ebb719a6bb0b36d035eef11a7b11a31"
        shape="circle" />
      <span class="font-bold">{{ 'welcome' | transloco }}</span>
    </div>
  </ng-template>

  <ng-container *transloco="let t; prefix: 'AboutMeText'">

    <p class="">
      {{ t('myName') }}
    </p>
    <p class="">
      {{ t('profession') }}
    </p>
    <p class="">
      {{ t('myAreas') }}
    </p>
    <p class="">
      {{ t('myLanguages') }}
    </p>
    <p class="">
      {{ t('findMyProjects') }}
    </p>

  </ng-container>

</p-fieldset>
<!-- </div> -->
