<h1 class="text-primary">{{'projects.SnowflakeIDGenerator.The Snowflake object'|transloco}}</h1>

<ng-container *transloco="let t; prefix: 'projects.SnowflakeIDGenerator.theObject'">

  <p [innerHTML]="t('While the SnowflakeIDGenerator')"></p>
  <p [innerHTML]="t('For example')"></p>

  <ul>
    <li [innerHTML]="t('ul.UtcDateTime')"></li>
    <li [innerHTML]="t('ul.Timestamp')"></li>
    <li [innerHTML]="t('ul.MachineId')"></li>
    <li [innerHTML]="t('ul.Sequence')"></li>
    <li [innerHTML]="t('ul.Id')"></li>
    <li [innerHTML]="t('ul.Code')"></li>
  </ul>


</ng-container>
