nav {
  position: sticky;
  left: 0;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  transition: transform .4s cubic-bezier(.05, .74, .2, .99), opacity .3s;
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  margin-right: 2rem;
  overflow: auto;
  padding: 0 1rem 0 0;
  flex-grow: 1;
  list-style: none;
  word-break: break-word;
  word-wrap: break-word;
  max-width: fit-content;
  /* 100vh => screen height; 1rem => nav + col-3 + padding */
  height: calc(100vh - var(--topPaddingBecauseOfMenu) - 1rem);
}

@media print {
  .sidebar {
    display: none !important;
  }
}

/* nav bar width */
@media (width < 576px) {
  nav {
    max-width: calc((90vw * (12/12)) - 16px);
    width: calc((90vw * (12/12)) - 16px);
    margin-right: 0;
  }
}

@media (min-width:576px) {
  nav {
    max-width: calc((520px * (12/12)) - 16px);
    width: calc((520px * (12/12)) - 16px);
  }
}

@media (min-width:768px) {
  nav {
    max-width: calc((750px * (5/12)) - 16px);
    width: calc((750px * (5/12)) - 16px);
    top: 6rem;
  }
}

@media (min-width:992px) {
  nav {
    max-width: calc((970px * (4/12)) - 16px);
    width: calc((970px * (4/12)) - 16px);
  }
}

@media (min-width:1200px) {
  nav {
    max-width: calc((1170px * (3/12)) - 16px);
    width: calc((1170px * (3/12)) - 16px);
  }
}

/* END nav bar width */


@media screen and (width >=768px) {

  /* large screens have  transitions */
  .router-link {
    transition: all 250ms ease-in !important;
  }
}

.router-link {
  border-left: 1px solid var(--surface-300);
}

.router-link-active {
  color: var(--brandStrokeCompoundPressed);
  border-left-color: var(--brandStrokeCompoundPressed);
}


@media screen and (width < 768px) {
  div.sidebar.sidebar-inactive {
    visibility: hidden;
    transition: all 0.15s;
    animation: fadeoutleft 0.15s linear;

    @keyframes fadeoutleft {
      0% {
        opacity: 0;
        transform: translateX(0%);
        transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
      }

      100% {
        opacity: 1;
        transform: translateX(-100%);
      }
    }
  }

  div.sidebar.sidebar-active {
    visibility: visible;
    transition: all 0.15s linear;
    animation: fadeinleft 0.15s linear;

    @keyframes fadeinleft {
      0% {
        opacity: 0;
        transform: translateX(-100%);
        transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
      }

      100% {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }

  p-button.sidebar {
    display: inherit !important;
  }

  p-button.sidebar-active.open-sidebar {
    visibility: hidden !important;
  }

  p-button.sidebar-active.close-sidebar {
    display: inherit !important;
  }
}

@media screen and (width >=768px) {
  div.sidebar {
    visibility: visible
  }

  p-button.sidebar {
    display: none !important;
  }
}

div.sidebar {
  overflow-y: auto;
  height: calc(100vh - var(--topPaddingBecauseOfMenu));
}
