<h1 class="text-primary">Snowflake Id Generator</h1>

<p-skeleton height="20px" styleClass="mb-2" *ngIf="!badgesLoaded" />
<div *ngIf="badgesLoaded" class="flex flex-wrap flex-row gap-1 justify-content-center">
  <a class="flex align-items-center justify-content-center" href="https://www.nuget.org/packages/SnowflakeIDGenerator"
    rel="noopener noreferrer"><img src="https://img.shields.io/nuget/v/SnowflakeIDGenerator?logo=nuget" alt="Nuget"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://dev.azure.com/fenase/SnowflakeIDGenerator/_build/latest?definitionId=21"
    rel="noopener noreferrer"><img
      src="https://dev.azure.com/fenase/SnowflakeIDGenerator/_apis/build/status%2FSnowflakeIDGenerator-CI?branchName=master"
      alt="Build Status"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://sonarcloud.io/summary/overall?id=fenase_SnowflakeIDGenerator2" rel="noopener noreferrer"><img
      src="https://sonarcloud.io/api/project_badges/measure?project=fenase_SnowflakeIDGenerator2&amp;metric=alert_status"
      alt="Quality Gate Status"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://sonarcloud.io/summary/overall?id=fenase_SnowflakeIDGenerator2" rel="noopener noreferrer"><img
      src="https://sonarcloud.io/api/project_badges/measure?project=fenase_SnowflakeIDGenerator2&amp;metric=ncloc"
      alt="Lines of Code"></a>
  <a class="flex align-items-center justify-content-center"
    href="https://sonarcloud.io/summary/overall?id=fenase_SnowflakeIDGenerator2" rel="noopener noreferrer"><img
      src="https://sonarcloud.io/api/project_badges/measure?project=fenase_SnowflakeIDGenerator2&amp;metric=coverage"
      alt="Coverage"></a>
</div>


<ng-container *transloco="let t; prefix: 'projects.SnowflakeIDGenerator.start'">
  <p [innerHTML]="t('p1')"></p>

  <h2 class="text-primary">Snowflakes</h2>

  <p [innerHTML]="t('Snowflakes are')"></p>
  <p [innerHTML]="t('The other components refer')"></p>

  <app-figure imgUrl="/assets/img/SnowflakeId-Wikipedia.png" altText="SnowflakeId components"
    [epigraph]="t('snowflake components image epigraph')"></app-figure>

</ng-container>
