<h1 class="text-primary">{{'projects.SnowflakeIDGenerator.Generate'|transloco}}</h1>
<h2 class="text-primary">{{'projects.SnowflakeIDGenerator.Using the SnowflakeIDGenerator class as static'|transloco}}
</h2>

<ng-container
  *transloco="let t; prefix: 'projects.SnowflakeIDGenerator.generate.Using the SnowflakeIDGenerator class as static'">

  <p [innerHTML]="t('If you only need')"></p>
  <p [innerHTML]="t('The method names')"></p>

  <ol>
    <li [innerHTML]="t('Call GetSnowflake')"></li>
    <li [innerHTML]="t('Call GetCode')"></li>
    <li [innerHTML]="t('Call GetCodeString')"></li>
  </ol>
</ng-container>

<ng-container *transloco="let t">
  <p-panel [header]="t('Note')">
    <p [innerHTML]="t('projects.SnowflakeIDGenerator.generate.note recommend to use strings')"></p>
  </p-panel>
</ng-container>
