<h1 class="text-primary">{{'projects.SnowflakeIDGenerator.Generate'|transloco}}</h1>
<h2 class="text-primary">{{'projects.SnowflakeIDGenerator.Using a non-standard date as epoch'|transloco}}</h2>

<ng-container *transloco="let t; prefix: 'projects.SnowflakeIDGenerator.generate.Using a non-standard date as epoch'">
<blockquote>{{ t('version 1.1.2023 and up') }}</blockquote>

<p [innerHTML]="t('The first component of')"></p>
<p [innerHTML]="t('Adding a DateTime')"></p>

<app-code-example examplePath="projects/SnowflakeIDGenerator/generateCustomEpoch" language="cs"></app-code-example>

</ng-container>
